doctype html
html(lang="en")
  head
    title Pago de Servicios
    meta(charset="UTF-8")
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,300,700")
    link(rel="stylesheet" href="/css/main.css")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    center      
      h1(class="big nunito dark-blue mini-top-space") Pago de Servicios Municipales #[img(src="/images/logo_muni.png" class="small-image")]
      nav(class="navbar navbar-inverse mini-top-space")
        div(class="container-fluid")
          div(class="navbar-header")
            button(type="button" class="navbar-toggle active" data-toggle="collapse" data-target="#myNavBar")
            a(class="navbar-brand" href="#") Administrador
          div(class="collapse navbar-collapse" id="myNavBar")
            ul(class="nav navbar-nav")
              li
                a(href="/admin/reconectar") Reconectar Agua
              li
                a(href="/admin/morosidad") Morosidad
                
              li(class="dropdown")
                a(class="dropdown-toggle" data-toggle="dropdown" href="#")  Mantenimiento #[span(class="caret")]
                ul(class="dropdown-menu")
                  li
                    a(href="#") Insertar
                    a(href="#") Modificar
                    a(href="#") Borrar
            ul(class="nav navbar-nav navbar-right")
              li
                a(href='/')
                  span.glyphicon.glyphicon-log-in
                  |  Salir
      block content
