extends ../layout.jade
block content 
  if recibos.length > 0
    table(class="table top-space" style="width:80%")
      caption(class="no-float dark-blue center") Recibos pendientes
      thead
        tr
          th Número de Recibo
          th Fecha
          th Total
          th Descripción 
      tbody
        each recibo in recibos
          tr
            td= recibo.id
            td= recibo.fecha
            td= recibo.total 
            td= recibo.descripcion
  else
    h1(class="mini-top-space") Usted no posee recibos pendientes  
